:root {
  --primary-background-color: #1a1a1b;
  --background-color--success: #0d6540e0;
  --background-color--failure: #a50909c9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

 button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;

 }

html {
  width: 100%;
}

body {
  width: 100%;
  background: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body[data-gamestate="success"] {
  background: var(--background-color--success);
  transition: background-color 200ms ease-in;
  transition-delay: 650ms;
}

body[data-gamestate="failure"] {
  background: var(--background-color--failure);
  transition: background-color 200ms ease-in;
  transition-delay: 650ms;
}

.guessList {
  margin-top: 20px;
  font-weight: 800;
  font-size: 2rem;
}

.guessWord {
  display: flex;
}

.guessLetter {
  margin: .2rem;
  width: 15vw;
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #D7DADC;
  border: .1rem solid #3a3a3c;
}

@media screen and (min-width: 450px){
  .guessLetter {
    width: 3rem;
    height: 3rem;
  }
}

.guessLetter.guessed.none {
  animation-name: reveal-choice-none;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
.guessLetter.guessed.half {
  animation-name: reveal-choice-half;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
.guessLetter.guessed.full {
  animation-name: reveal-choice-full;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.guessLetter:nth-of-type(2){
  animation-delay: 150ms;
}
.guessLetter:nth-of-type(3){
  animation-delay: 300ms;
}
.guessLetter:nth-of-type(4){
  animation-delay: 450ms;
}
.guessLetter:nth-of-type(5){
  animation-delay: 600ms;
}

@keyframes reveal-choice-none {
  0% {
    transform: rotateX(0);
    background: inherit;
    border: inherit;
  }

  50% {
    transform: rotateX(-90deg);
    background: inherit;
    border: inherit;
  }

  51% {
    background: #3a3a3c;
    border: none;
  }

  100% {
    transform: rotateX(0);
    background: #3a3a3c;
    border: none;
  }
}

@keyframes reveal-choice-half {
  0% {
    transform: rotateX(0);
    background: inherit;
    border: inherit;
  }

  50% {
    transform: rotateX(-90deg);
    background: inherit;
    border: inherit;
  }

  51% {
    background: #B59F3B;
    border: .25rem dashed #a28c2e;
  }

  100% {
    transform: rotateX(0);
    background: #B59F3B;
    border: .25rem dashed #a28c2e;
  }
}

@keyframes reveal-choice-full {
  0% {
    transform: rotateX(0);
    background: inherit;
    border: inherit;
  }

  50% {
    transform: rotateX(-90deg);
    background: inherit;
    border: inherit;
  }

  51% {
    background: #538D4E;
    border: .3rem solid #3e6d3a;
  }

  100% {
    transform: rotateX(0);
    background: #538D4E;
    border: .3rem solid #3e6d3a;
  }
}

.guessInput {
  margin: 20px 0;
  padding: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-bottom: 3px solid white;
  caret-color: white;
  color: #D7DADC;
  background: transparent;
}

.guessInput:focus, .guessInput:active {
  outline: none;
}

.keyboard {
  padding: 20px 0;
  max-width: 90%;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-key {
  flex: 1;
  margin: .1rem;
  width: 2.5rem;
  height: 3rem;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #D7DADC;
  background: #818384;
}

@media screen and (min-width: 600px){
  .keyboard-key {
    flex: none;
  }
}

.keyboard-key[data-key="←"], .keyboard-key[data-key="↵"] {
  background: #3a3a3c;
  border: 2px solid #818384;
}

.keyboard-key.used {
  background: #3a3a3c;
  color: rgb(112, 112, 112);
}

.keyboard-key.half {
  background: #B59F3B;
  border: .2rem dashed #a28c2e;
}

.keyboard-key.correct {
  background: #538D4E;
  border: .2rem solid #3e6d3a;
}

/* Header */
header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px 25px;
}

.newGame-button {
  background: green;
  color: white;
  padding: .5rem;
  margin: 0 10px;
  border-radius: .25rem;
  cursor: pointer;
}

.newGame-button:active {
  filter:brightness(.8);
}

/* Data stuff */
.resetAll-button {
  background: red;
  color: white;
  padding: 1rem;
  margin: 10px;
  border-radius: .25rem;
  cursor: pointer;
}

.resetAll-button:active {
  filter:brightness(.8);
}

.recentWords-container {
  color: #818384;
}

.recentWords-container li {
  text-transform: uppercase;
  list-style: none;
}