:root {
  --primary-background-color: #1a1a1b;
  --background-color--success: #0d6540e0;
  --background-color--failure: #a50909c9;
  --tile-text-primary: #D7DADC;
  --primary-color-none: #3a3a3c;
  --primary-color-half: #B59F3B;
  --secondary-color-half: #a28c2e;
  --primary-color-full: #538D4E;
  --secondary-color-full: #3e6d3a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
  touch-action: manipulation;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

 button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;

 }

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: var(--primary-background-color);

}

body[data-gamestate="success"] {
  background: var(--background-color--success);
  transition: background-color 200ms ease-in;
}

body[data-gamestate="failure"] {
  background: linear-gradient(90deg, #830000 0%, rgb(209 2 44) 15%, rgb(255 77 77) 50%, rgb(255 0 52) 85%, #830000 100%);
  transition: background-color 200ms ease-in;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 45px);
}

@media screen and (min-width: 800px) {
  main {
    width: 800px;
    margin: 0 auto;
  }
}

.guessList {
  font-weight: 800;
  font-size: 2rem;
}

@media screen and (min-width: 450px) {
  
}

.guessWord {
  display: flex;
}

.guessLetter {
  margin: .2rem;
  width: 12vw;
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #D7DADC;
  border: .1rem solid #3a3a3c;
}

.guessLetter[data-challenger_score="2"] {
  border: 3px solid #538D4E;
}

.guessLetter[data-challenger_score="1"] {
  border: 3px solid #B59F3B;
}

@media screen and (min-width: 450px){
  .guessLetter {
    width: 8vh;
    height: 8vh;
  }
}

.guessLetter.guessed.none {
  animation-name: reveal-choice-none;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
.guessLetter.guessed.half {
  animation-name: reveal-choice-half;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
.guessLetter.guessed.full {
  animation-name: reveal-choice-full;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.guessLetter:nth-of-type(2){
  animation-delay: 150ms;
}
.guessLetter:nth-of-type(3){
  animation-delay: 300ms;
}
.guessLetter:nth-of-type(4){
  animation-delay: 450ms;
}
.guessLetter:nth-of-type(5){
  animation-delay: 600ms;
}

@keyframes reveal-choice-none {
  0% {
    transform: rotateX(0);
    background: inherit;
    border: inherit;
  }

  50% {
    transform: rotateX(-90deg);
    background: inherit;
    border: inherit;
  }

  51% {
    background: #3a3a3c;
    border: none;
  }

  100% {
    transform: rotateX(0);
    background: #3a3a3c;
    border: none;
  }
}

@keyframes reveal-choice-half {
  0% {
    transform: rotateX(0);
    background: inherit;
    border: inherit;
  }

  50% {
    transform: rotateX(-90deg);
    background: inherit;
    border: inherit;
  }

  51% {
    background: #B59F3B;
    border: .25rem dashed #a28c2e;
  }

  100% {
    transform: rotateX(0);
    background: #B59F3B;
    border: .25rem dashed #a28c2e;
  }
}

@keyframes reveal-choice-full {
  0% {
    transform: rotateX(0);
    background: inherit;
    border: inherit;
  }

  50% {
    transform: rotateX(-90deg);
    background: inherit;
    border: inherit;
  }

  51% {
    background: #538D4E;
    border: .3rem solid #3e6d3a;
  }

  100% {
    transform: rotateX(0);
    background: #538D4E;
    border: .3rem solid #3e6d3a;
  }
}

.gloat-button, .challenge-button {
  display: none;
  background: var(--secondary-color-full);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  text-transform: uppercase;
  width: 280px;
  font-weight: 400;
  letter-spacing: .2rem;
}

.gloat-button {
  margin-top: 25px;
}

.keyboard {
  flex: 1;
  padding: 20px 0;
  max-width: 90%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.keyboard-row {
  flex: 1;
  display: flex;
  justify-content: center;
}

.keyboard-key {
  flex: 1;
  margin: .1rem;
  width: 2.5rem;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #D7DADC;
  background: #818384;
}

@media screen and (min-width: 600px){
  .keyboard-row {
    
  }

  .keyboard-key {
    width: 3rem;
  }
}

.keyboard-key[data-key="←"], .keyboard-key[data-key="↵"] {
  background: #3a3a3c;
  border: 2px solid #818384;
}

.keyboard-key.used {
  background: #3a3a3c;
  color: rgb(112, 112, 112);
}

.keyboard-key.half {
  background: #B59F3B;
  border: .2rem dashed #a28c2e;
}

.keyboard-key.correct {
  background: #538D4E;
  border: .2rem solid #3e6d3a;
}

/* Header */
header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 45px;
}

header button {
  background: var(--secondary-color-full);
  color: white;
  height: 35px;
  width: 175px;
  border-radius: .25rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .2rem;
}

header button:disabled {
  filter: saturate(0);
  color: grey;
  cursor:default;
}

header button:active {
  filter:brightness(.8);
}

/* Data stuff */
.resetAll-button {
  background: red;
  color: white;
  padding: 1rem;
  margin: 10px;
  border-radius: .25rem;
  cursor: pointer;
}

.resetAll-button:active {
  filter:brightness(.8);
}

.recentWords-container {
  color: #818384;
}

.recentWords-container li {
  text-transform: uppercase;
  list-style: none;
}

.modal-container {
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
}

html[data-modal="true"] .modal-container {
  visibility: initial;
}

.modal-inner-container {
  width: 95%;
  height: 95%;
  background: var(--primary-background-color);
  color: white;
  display: flex;
  flex-direction: column;
}

button.modal-close {
  padding: 10px 15px;
  display: block;
  font-size: 1.5rem;
  margin-left: auto;
  cursor: pointer;
  color:  white;
}

.gloat-container, .stats-container {
  display: none;
}

.modal-container[data-type="gloat"] .gloat-container {
  display: flex;
}

.modal-container[data-type="stats"] .stats-container {
  display: block;
}

.gloat-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.gloat-container h1 {
  font-size: 2.5rem;
  text-align: center;
}

.gloat-container button {
  background: var(--secondary-color-full);
  color: white;
  padding: .5rem 1.5rem;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.gloat-container hr {
  width: 60%;
  background: #302f2f;
  border: none;
  height: 1px;
}

.gloat-result-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.gloat-result-container h2 {
  text-align: center;
  margin: 5px 0;
  width: 150px;
}

.gloat-result-main {
  display: flex;
  min-height: calc(24vh + 5px);
}

.gloat-result-graphic {
  margin-left: auto;
  color: var(--tile-text-primary);
}

.result-row {
  display: flex;
}

.result-tile {
  margin: 1px;
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: var(--primary-color-none);
}

.result-tile.half {
  /* secondary is more readable without bold font */
  background: var(--secondary-color-half);
}

.result-tile.full {
  background: var(--primary-color-full);
}

@media screen and (min-width: 450px) {
  .gloat-container {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .gloat-container h1 {
    width: 100%;
  }

  .gloat-result-container {
    height: 50%;
    width: 48%;
    justify-content: space-around;
  }

  .gloat-result-graphic {
  }
}